<div class="container" >
	<div class="row justify-content-center">
		<div class="col-xs-3 team_name">
	            {{ match.team_names['home'] }}
        </div>
        <div class="col-xs-3 team_name">
			&nbsp;&nbsp;-&nbsp;&nbsp;
        </div>
        <div class="col-xs-3 team_name">
				{{ match.team_names['away'] }}
		</div>
    </div>
</div>


<div class="container-fluid" style="text-align:center;">
    <div class="row justify-content-center">
        <div class="col-xs-2 logo_frame">
            <img src="../../assets/images/{{ match.team_logos['home'] }}" class="logo">
        </div>

        <div class="col-xs-2 mx-5">
            <div class="score">
              {{ match.score['home'] }} - {{ match.score['away'] }}
            </div>
        </div>

        <div class="col-xs-2 logo_frame">
            <img src="../../assets/images/{{ match.team_logos['away'] }}" class="logo">
        </div>

  </div>
</div>

<div class="container" style="margin-bottom: 20px;">
    <div class="row justify-content-center">
        <div class="col-xs-3 scorer">
            <div *ngFor="let goal of match.goals['home'];">
                {{goal.scorer.firstname}} {{goal.scorer.lastname}} {{goal.minute}}'
            </div>
        </div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3 scorer">
            <div *ngFor="let goal of match.goals['away'];">
                {{goal.scorer.firstname}} {{goal.scorer.lastname}} {{goal.minute}}'
            </div>
        </div>
    </div>
</div>

